@charset "UTF-8";
.main_visual {
  position: relative;
  overflow: hidden;
}
.main_visual .tit_wrap {
  position: absolute;
  left: 0;
  top:37%;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 0 40px;
  max-width: 1600px;
  z-index: 100;
}
.main_visual .tit_wrap h2 {
  font-size: 8.9rem;
  font-weight: 300;
} 

.main_visual .tit_wrap h2 br {
  display: none;
}
.main_visual .tit_wrap h2 strong {
  font-weight: 700;
  font-size: 9.5rem;
}
.main_visual .tit_wrap p {
  font-size: 1.7rem;
  font-family: 'play', sans-serif;
  color: rgba(255,255,255,0.75);
  line-height: 1.64em;
  margin-top: 20px;
}

@keyframes upDown {
  0% {
		transform:translateY(-5px);
	}
	50% {
		transform:translateY(5px);
	}
	100% {
		transform:translateY(-5px);
	}
}

.main_visual .ico_scroll {
  position: absolute;
  left: 2%;
  bottom: 13%;
  width: 64px;
  z-index: 100;
  animation: upDown 1.5s ease-in-out infinite;
}
.main_visual .ico_scroll img {
  width: 100%;
  height: 27px;
}
.main_visual .ico_scroll .circle_wrap {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 40px;
}
.main_visual .ico_scroll .circle {
  width: 100%;
  height: 100%;
  background: #050705;
  display: block;
  border-radius: 100%;
}
.main_visual .ico_scroll .s_circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 14px;
  height: 22px;
  border: 2px solid #fff;
  display: block;
  border-radius: 30px;
}

@keyframes mouseScroll {
  0% { 
    opacity:1; 
    transform: translateY(-3px) 
  }
  100% {
    opacity:0; 
    transform: translateY(3px)
  }
}

.main_visual .ico_scroll .s_circle:before {
  content: '';
  position: absolute;
  left: 4px;
  top: 5px;
  width: 2px;
  height: 4px;
  background: #fff;
  opacity: 0;
  border-radius: 50%;
  animation: mouseScroll 1.5s infinite;
}


@keyframes slideScale {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.main_visual .main_slider {
  height: 100vh;
  width: 100%;
  animation: slideScale 6s linear infinite;
}

.main_visual .main_slider .slide01 {
  background: url(../images/main_visual_01.jpg) no-repeat 50% 50% / cover;
}
.main_visual .main_slider .slide02 {
  background: url(../images/main_visual_02.jpg)
  no-repeat 50% 50% / cover;
}
.main_visual .main_slider .slide03 {
  background: url(../images/main_visual_03.jpg) no-repeat 50% 50% / cover;
}

.main_visual .pagination .swiper-pagination {
  bottom: 9%;
  padding: 0 30px;
}
.main_visual .pagination .swiper-pagination-bullets {
  right: 2%;
}
.main_visual .pagination .swiper-pagination-bullet {
  width: 122px;
  height: 2px;
  border-radius:0;
  background: rgba(255,255,255,1);
}
.main_visual .pagination .swiper-pagination-bullet-active {
  background: #fff;
}

.main_product {
  padding: 110px 30px;
}
.main_product .inner {
  max-width: 1480px;
  margin: 0 auto;
}
.main_product h2 {
  text-align: center;
  font-size: 6rem;
  color: #000;
  font-weight: 300;
}
.main_product h2 strong {
  font-weight: 700;
}
.main_product .product {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
.main_product .product li {
  width: 100%;
}
.main_product .product a {
  display: block;
  overflow: hidden;
}
.main_product .product .img_wrap01, .img_wrap02 {
  overflow: hidden;
  position: relative;
}


@keyframes imgAnimate {
  0% {transform:translateX(-100%);}
  50% {transform:translateX(0);}
  100% {transform:translateX(100%);}
}
.main_product .product .img_wrap:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #302f58;
  animation:imgAnimate both 0.8s 1s ;
}

.main_product .product img {
  transition: all 0.3s;
}
.main_product .product a:hover img {
  transform: scale(1.05);
  transition: all 0.3s;
}

.main_product .product a:hover i {
  transform: translateX(3px);
  transition: all 0.3s;
}

.main_product .product .txt_wrap {
  text-align: center;
  margin-top: 30px;
}
.main_product .product .tit {
  font-size: 3.6rem;
  font-family: 'play', sans-serif;
  font-weight: 700;
  color: #000;
  display: block;
}
.main_product .product i {
  color: #000;
  margin-left: -15px;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.main_story {
  background:#eee;
  padding: 130px 0 115px;
}
.main_story .inner {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 30px;

}

.main_story .story_slider a {
  display: block;
}
.main_story .story_slider .img_area {
  overflow: hidden;
}
.main_story .story_slider .img_wrap {
  transition: all 0.5s;
  position: relative;
}
.main_story .story_slider .img_wrap:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation:imgAnimate both 0.8s 0.5s ;
  background: #302f58;
}

.main_story .story_slider a:hover .img_wrap {
  transform: scale(1.05);
}
.main_story .story_slider a:hover .img_wrap:before {
  opacity: 1;
}
.main_story .story_slider a:hover .circle {
  opacity: 1;
}
.main_story .story_slider a:hover .more {
  opacity: 1;
}
.main_story .story_slider .img_wrap:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(252,192,56,0.9);
  opacity: 0;
}
.main_story .story_slider .circle {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  width: 63px;
  height: 63px;
  background: #000 url(../images/plus.png) no-repeat 50% 50% / 25px;
  text-indent: -9999px;
  border-radius: 100%;
  opacity: 0;
}
.main_story .story_slider .more {
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%,-50%);
  color: #000;
  font-weight: 700;
  opacity: 0;
}
.main_story .story_slider .txt_wrap {
  margin-top: 35px;
  text-align: center;
  padding: 0 10px;
}
.main_story .story_slider .tit {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
}
.main_story .story_slider .txt {
  font-size: 1.9rem;
  font-weight: 300;
  color: #5a5a5a;
}

/* 모바일 스토리 슬라이더  */
.main_story .m_story_slider {display: none;}
.main_story .m_story_slider { text-align: center; position: relative;}
.main_story .m_story_slider a { display: block; }
.main_story .m_story_slider .img_wrap { transition: all 0.5s; position: relative; }

.main_story .m_story_slider .txt_wrap { margin-top: 35px; text-align: center; padding: 0 10px; }
.main_story .m_story_slider .tit { font-size: 2.4rem; font-weight: 700; color: #000; }
.main_story .m_story_slider .txt { font-size: 1.5rem; font-weight: 300; color: #5a5a5a; }
.main_story .m_story_slider .pagination_wrap {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_story .m_story_slider .pagination_wrap .swiper-pagination-bullets span {
  margin-left: 20px;
  background:#666;
  width: 5px;
  height: 5px;
}
.main_story .m_story_slider .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000;
}


.main_media {
  padding: 150px 30px 170px;
}
.main_media .inner {
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  gap: 100px;
}
.main_media .exhibition {
  width: 50.67%;
}
.main_media .exhibition .tit_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main_media .release {
  width: 42.56%;
}
.main_media .release .tit_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_media .tit_wrap .tit {
  font-size: 4rem;
  font-weight: 700;
  color: #000;
}
.main_media .tit_wrap .btn_more {
  padding: 0;
  color: #777;
  border: none;
  margin-right: 3px;
}
.main_media .tit_wrap i {
  color: #777;
  transition: all 0.2s;
}
.main_media .tit_wrap .btn_more:hover i {
  transform: translateX(3px);
}

.main_media .exhibition_slider {
  margin-top: 25px;
}
.main_media .exhibition_slider .btn_arrow {
  background: none;
}
.main_media .exhibition_slider .btn_arrow i {
  display: none;
}
.main_media .exhibition_slider .txt_wrap {
  margin-top: 20px;
  font-size: 1.6rem;
  color: #5a5a5a;
  font-family: 'play',sans-serif;
  text-align: center;
  padding: 0 10px;
}

.main_media .exhibition_slider .txt_wrap .txt {
  font-weight: 700;
}
.main_media .exhibition_slider .txt_wrap .date {
  display: block;
  margin-top: 10px;
}

.main_media .release .txt_wrap {
  display: flex;
  gap: 30px;
  margin-top: 25px;
  width: 100%;
}
.main_media .release .txt_wrap a {
  background: #f4f4f4;
  height: 306px;
  padding: 30px 35px;
  transition: all 0.3s;
}
.main_media .release .txt_wrap a:hover {
  background-color: var(--txt-point01);
}
.main_media .release .txt_wrap strong {
  font-size: 2rem;
  color: #2f2f2f;
  font-weight: 700;
  display: block;
  margin-top: 20px;
  position: relative;
}
.main_media .release .txt_wrap strong:before {
  content: '';
  position: absolute;
  left: 0;
  top: -20px;
  width: 15px;
  height: 2px;
  background: #2f2f2f;
}
.main_media .release .txt_wrap .txt {
  font-size: 1.5rem;
  color: #2f2f2f;
  margin-top: 15px;
}
.main_media .release .txt_wrap .date {
  font-size: 1.5rem;
  color: rgba(47,47,47,0.6);
  margin-top: 40px;
  display: block;
}
.main_media .m_release {display: none;}




/* 태블릿 분기점 */
@media (max-width: 1200px) {
  .main_visual .tit_wrap h2 br {display: none;}
  .main_visual .tit_wrap h2 {font-size:7.1rem;}
  .main_visual .tit_wrap h2 strong {font-size:7.6rem;}
  .main_media .inner {flex-wrap: wrap;}
  .main_media .exhibition {width: 100%;}
  .main_media .exhibition_slider .btn_arrow { background: none; }
  .main_media .exhibition_slider .btn_arrow i { display: none; }
  .main_media .release {width: 100%;}
  .main_media .exhibition_slider img { width: 100%;}
  .main_media .m_release {display: none;}
  .main_story .m_story_slider { display: none; }
}

/* 모바일 분기점 */
@media (max-width: 767px) {
  .main_visual .tit_wrap h2 br {display: none;}
  .main_visual .tit_wrap {padding: 0 15px;}
  .main_visual .tit_wrap p { font-size: 1.5rem; }
  .main_visual .pagination .swiper-pagination { bottom: 5%;}
  .main_visual .pagination .swiper-pagination-bullet {width:75px;height: 2px; right: 0;}
  .main_product .product { flex-wrap: wrap; }
  .main_product h2 { font-size: 4.8rem; }
  .main_visual .ico_scroll {display: none;}
  .main_story {padding: 60px 0;}
  .main_story .m_story_slider { display: block; }
  .main_story .story_slider { display: none; }
  .main_media { padding: 60px 15px 75px;}
  .main_media .exhibition .tit_wrap { flex-direction: column; }
  .main_media .tit_wrap .tit { font-size: 3.2rem; }
  .main_media .tit_wrap .btn_more { margin-top: 10px; font-size: 1.1rem; }
  .main_media .exhibition_slider .txt_wrap .txt {font-size: 1.3rem;}
  .main_media .exhibition_slider .txt_wrap .date {font-size: 1.3rem;}
  .main_media .exhibition_slider img { width: 80%;}
  .main_media .exhibition_slider { text-align: center;}
  .main_media .exhibition_slider .btn_arrow {background: none; color:#777; transform: translateY(-50%);}
  .main_media .exhibition_slider .btn_arrow i { font-size: 2.6rem; display: block; }
  .main_media .release { display: none;}
  .main_media .m_release  {display: block;}
  .main_media .m_release .tit_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  .main_media .m_release .tit_wrap .tit { font-size: 3.1rem; }
  .main_media .m_release .mrelease_slider { margin-top:20px; width: 100%; }
  .main_media .m_release .mrelease_slider .txt_wrap {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .main_media .m_release .mrelease_slider strong {
    font-size: 1.6rem;
    color: #000;
    font-weight: 700;
    position: relative;
    display: block;
    padding-top: 20px;
  }
  .main_media .m_release .mrelease_slider strong:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 2px;
    background: #2f2f2f;
  }
  .main_media .m_release .mrelease_slider .txt {
    margin-top: 50px;
    font-size: 1.2rem;
    color: #2f2f2f;
  }
  .main_media .m_release .mrelease_slider .date {
    font-size: 1.2rem;
    color: #2f2f2f99;
    display: block;
    margin-top: 50px;
  }
  .main_media .m_release .mrelease_slider a {
    background: #f4f4f4;
    display: block;
    height:285px;
    width: 80%;
    padding: 30px 60px;
  }
  .main_media .m_release .mrelease_slider .btn_arrow { background: none; color:#777; }
  .main_media .m_release .mrelease_slider .btn_arrow i { font-size: 2.6rem; }
}


@media (max-width: 476px) {
  .main_visual .tit_wrap h2 br {display: block;}
}